@media (min-width: 812px) {

body {
	font-family: Verdana, Geneva, sans-serif;
	overflow-x: hidden;
}

.content {
	z-index: 98;
}

.usual-element {
	width: 90%;
	max-width: 700px;
	margin:auto;
}

.onglets {
	display : block;
	margin-top: -8px;
	background-color: rgba(1, 0, 24, 0.8);
	padding-top: .30em;
	padding-left: 0em;
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 99;
}

.onglets>.signature {
	display: block;
	color: rgb(255, 255, 255);
	background-color: rgb(1, 0, 34);
	padding-bottom: 2px;
	padding-top: 2px;
	margin-bottom : -5px;
	width: 100%;
}

.onglets>.signature>.titreOnglets {
	display: inline-block;
	font-weight: bold;
	width : 44%;
}

.onglets>.signature>.selecteur {
	display: inline-block;
	width : 1%;
	text-align: center;
	font-weight: bold;
}

.onglets:hover>.signature {
	cursor: pointer;
}

.onglets>.signature>.footer {
	display: inline-block;
	text-align: right;
	font-style: italic;
	font-size: 0.85em;
	width : 45%;
}

.onglets .lien {
	display: none;
	padding: 5px 0px 5px 0px;
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	width: 33%;
	text-align: center;
}

.onglets:hover .lien {
	display: inline-block;
	opacity: 1;
	visibility: visible;
}

.onglets .lien:hover {
	color: rgba(0, 0, 0, 0.9);
	background-color: rgba(255, 255, 255, 0.9);
	transition: all 0.6s;
}

.onglets .sousOnglet {
	padding-top : 6px;
	padding-bottom : 6px;
	display: none;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(4, 0, 44, 0.6);
	z-index: 99;
}

.onglets .sousOnglet .lien {
	display:inline-block;
	padding: 10px 0px 10px 0px;
	width : 30%;
	vertical-align: top;
}

.onglets .sousOnglet .lien:hover {
	color: rgba(0, 0, 0, 0.9);
	background-color: rgba(255, 255, 255, 0.9);
}

.article {
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 100px;
	background-color: rgb(238, 238, 238);
}

.article>p {
	text-align: justify;
	padding: 0px 5% 0px 5%;
}

.imgcontainer {
	position: fixed;
	left : 0px;
	top : 0px;
	width: 100%;
	z-index: -99;
	height: 350px;
	overflow: hidden;
	background-image: url("../rsc/img/signal.png");
	background-repeat: repeat-x;
}

.title {
	position : absolute;
	background-color: rgba(255, 255, 255, 0.4);
	width: 100%;
	top: 310px;
	left: 0px;
	display: block;
	font-weight: bold;
	text-align: center;
	margin-left : auto;
	margin-right : auto;
	z-index: 98;
}

#bandeau {
	position: fixed;
	left: 0px;
	width: 100%;
	top: 0px;
	z-index: 99;
}

.header {
	margin-bottom: 360px;
}

}